:root {
  --clr-primary: #eb2f64;
  --clr-primary-light: #ff3366;
  --clr-primary-dark: #ba265d;
  --clr-grey-light-1: #faf9f9;
  --clr-grey-light-2: #f4f2f2;
  --clr-grey-light-3: #f0eeee;
  --clr-grey-light-4: #cccccc;
  --clr-grey-dark-1: #333;
  --clr-grey-dark-2: #777;
  --clr-grey-dark-3: #999;
  --shadow-dark:0 4rem 6rem rgba(0, 0, 0, .2);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .05);
  --line: 1px solid var(--clr-grey-light-2); }

* {
  padding: 0;
  margin: 0; }

html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; }

*,
*::before,
*::after {
  box-sizing: inherit;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    *,
    *::before,
    *::after {
      font-size: 50%; } }

body {
  font-weight: 400;
  line-height: 1.6;
  color: var(--clr-grey-dark-3);
  background-image: linear-gradient(to right bottom, var(--clr-primary), var(--clr-primary-dark));
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100vh; }

.container {
  margin: 5rem auto;
  max-width: 150rem;
  background-color: #fff;
  box-shadow: var(--shadow-dark); }
  @media only screen and (max-width: 100em) {
    .container {
      margin: 0;
      max-width: 100%;
      width: 100%; } }

.header {
  background-color: #fff;
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem; }

.content {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column; } }

.sidebar {
  background-color: var(--clr-grey-dark-1);
  flex: 0 0 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.hotel-view {
  flex: 1; }

.details {
  display: flex;
  padding: 4.5rem;
  background: var(--clr-grey-light-1); }
  @media only screen and (max-width: 56.25em) {
    .details {
      padding: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .details {
      flex-direction: column; } }

.description {
  background: #fff;
  flex: 0 0 60%;
  margin-right: 4.5rem;
  box-shadow: var(--shadow-light);
  padding: 4.5rem; }
  @media only screen and (max-width: 56.25em) {
    .description {
      padding: 3rem;
      margin-right: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .description {
      margin: 0;
      margin-bottom: 3rem; } }

.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem; }

.logo {
  height: 3.5rem;
  margin-left: 1.8rem; }

.search {
  flex: 0 0 40%;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    width: 90%;
    border: none;
    border-radius: 100px;
    padding: 1rem 1.5rem;
    background: var(--clr-grey-light-2);
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    transition: .2s all; }
    .search__input:focus {
      outline: none;
      width: 100%; }
    .search__input::-webkit-input-placeholder {
      color: var(--clr-grey-light-4); }
  .search__btn {
    border: none;
    background: var(--clr-grey-light-2);
    margin-left: -3rem;
    fill: var(--clr-grey-light-4); }
    .search__btn:focus {
      outline: none; }
    .search__btn:active {
      transform: translateY(2px); }
  .search__input:focus ~ .search__btn {
    fill: var(--clr-grey-dark-3); }
  .search__input:focus::-webkit-input-placeholder {
    color: var(--clr-grey-dark-3); }
  .search__icon {
    height: 2rem;
    width: 2rem; }

.user-nav {
  display: flex;
  justify-content: center;
  align-self: stretch; }
  .user-nav > * {
    display: flex;
    height: 100%;
    align-items: center;
    padding: .75rem 1.2rem;
    font-size: 1.4rem; }
    .user-nav > *:hover {
      background: var(--clr-grey-light-2);
      cursor: pointer; }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--clr-grey-dark-2); }
  .user-nav__notification {
    height: 1.5rem;
    width: 1.5rem;
    background: var(--clr-primary);
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1.4rem;
    right: .8rem; }
  .user-nav__user-name {
    font-size: 1.4rem;
    margin-left: 1rem; }
  .user-nav__user-photo {
    height: 4.75rem;
    width: 4.75rem;
    border-radius: 50%; }

.side-nav {
  list-style: none; }
  @media only screen and (max-width: 56.25em) {
    .side-nav {
      display: flex;
      align-items: center; } }
  .side-nav__item {
    position: relative; }
    @media only screen and (max-width: 56.25em) {
      .side-nav__item {
        flex: 1;
        display: flex;
        justify-content: center; } }
  .side-nav__item::before {
    content: "";
    height: 100%;
    width: 3px;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--clr-primary);
    transform: scaleY(0);
    transition: transform 0.2s cubic-bezier(1, 0, 0, 1), width 0.4s 0.2s; }
  .side-nav__item:hover::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__link:link, .side-nav__link:visited {
    font-size: 2rem;
    text-decoration: none;
    color: var(--clr-grey-light-1);
    text-transform: uppercase;
    padding: 1.5rem 2.5rem;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    position: relative;
    z-index: 100; }
    @media only screen and (max-width: 56.25em) {
      .side-nav__link:link, .side-nav__link:visited {
        font-size: 3rem; } }
    @media only screen and (max-width: 33.43em) {
      .side-nav__link:link, .side-nav__link:visited {
        flex-direction: column;
        margin: 0;
        justify-content: center;
        font-size: 2rem; } }
  .side-nav__icon {
    width: 2rem;
    height: 2rem;
    fill: currentColor;
    margin-right: 1rem; }
    @media only screen and (max-width: 33.43em) {
      .side-nav__icon {
        margin-bottom: .7rem; } }

.legal {
  font-size: 1.6rem;
  color: var(--clr-grey-light-4);
  text-align: center;
  padding: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .legal {
      display: none; } }

.gallery {
  display: flex; }
  .gallery__img {
    width: 100%; }

.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line);
  margin-top: -3px; }
  .overview__heading {
    font-size: 3rem;
    font-weight: 300;
    color: var(--clr-grey-dark-2);
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem; }
    @media only screen and (max-width: 37.5em) {
      .overview__heading {
        font-size: 2rem; } }
    @media only screen and (max-width: 33.43em) {
      .overview__heading {
        padding: 1rem; } }
  .overview__stars {
    margin-right: auto;
    margin-left: 2rem;
    display: flex; }
    @media only screen and (max-width: 33.43em) {
      .overview__stars {
        margin-left: 0rem; } }
  .overview__star-icon, .overview__location-icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--clr-primary); }
  .overview__location {
    font-size: 1.8rem;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .overview__location {
        font-size: 1.4rem; } }
  .overview__rating {
    background: var(--clr-primary);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    padding: 0 2.5rem;
    font-size: 3rem;
    margin-left: 2rem; }

.btn-inline {
  border: none;
  font-size: inherit;
  color: var(--clr-primary);
  border-bottom: 1px solid currentColor;
  padding-bottom: 1px;
  background-color: transparent;
  cursor: pointer; }
  .btn-inline span {
    margin-left: 3px;
    transition: margin-left .2s; }
  .btn-inline:hover {
    color: var(--clr-grey-dark-1); }
    .btn-inline:hover span {
      margin-left: 8px; }
  .btn-inline:focus {
    outline: none;
    animation: pulsate 1s infinite; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.4); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.paragraph {
  font-size: 1.6rem; }

.paragraph:not(:nth-of-type(2)) {
  margin-bottom: 2rem; }

.list {
  list-style: none;
  margin: 2rem 0;
  padding: 1rem 0;
  border-top: var(--line);
  border-bottom: var(--line);
  display: flex;
  flex-wrap: wrap; }
  .list__item {
    width: 50%;
    margin: .5rem 0;
    font-size: 1.6rem; }
  .list__item::before {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    margin-right: .7rem;
    background-image: url(../img/chevron-thin-right.svg);
    background-size: cover; }
    @supports (-webkit-mask-image: url()) or (-webkit-mask-size: cover) {
      .list__item::before {
        background: var(--clr-primary);
        mask-image: url(../img/chevron-thin-right.svg);
        mask-size: cover;
        -webkit-mask-image: url(../img/chevron-thin-right.svg);
        -webkit-mask-size: cover;
        background-image: none; } }

.recommend {
  display: flex;
  font-size: 1.8rem;
  align-items: center; }
  .recommend__count {
    margin-right: auto; }
  .recommend__friends {
    display: flex; }
  .recommend__photo {
    height: 3rem;
    width: 3rem;
    box-sizing: content-box;
    border-radius: 50%;
    border: 3px solid #fff; }
    .recommend__photo:not(:last-child) {
      margin-right: -1.5rem; }

.review {
  background: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem 2rem;
  margin-bottom: 4.5rem;
  color: var(--clr-grey-dark-2);
  font-weight: 600;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 37.5em) {
    .review {
      margin-bottom: 3rem; } }
  .review__text {
    font-size: 1.4rem;
    position: relative;
    z-index: 2; }
  .review__user {
    display: flex;
    margin-top: 2rem;
    align-items: center; }
  .review__photo {
    height: 4rem;
    width: 4rem;
    border-radius: 50%; }
  .review__user-box {
    margin-left: 1rem; }
  .review__user-name {
    font-size: 1.2rem;
    text-transform: uppercase; }
  .review__user-date {
    font-size: 1.2rem;
    color: var(--clr-grey-dark-3);
    font-weight: 300; }
  .review__rating {
    color: var(--clr-primary);
    font-size: 1.6rem;
    margin-left: auto;
    font-weight: 400; }
  .review::before {
    content: "\201C";
    position: absolute;
    top: -3rem;
    left: -1rem;
    line-height: 1;
    font-family: sans-serif;
    font-size: 18rem;
    color: var(--clr-grey-light-2);
    z-index: 1; }

.cta {
  padding: 4.5rem 0;
  text-align: center; }
  .cta__text {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 4rem; }

.btn {
  border: none;
  background-image: linear-gradient(to right, var(--clr-primary-light), var(--clr-primary-dark));
  color: #fff;
  border-radius: 100px;
  font-size: 1.4rem;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  cursor: pointer; }
  .btn > * {
    transition: .2s all;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 300; }
  .btn__visible {
    width: 100%;
    height: 100%;
    padding: 1.5rem 4.5rem; }
  .btn__invisible {
    position: absolute;
    top: -100%;
    padding: 1.5rem; }
  .btn:hover .btn__visible {
    transform: translateY(100%); }
  .btn:hover .btn__invisible {
    top: 0; }
  .btn:hover {
    background-image: linear-gradient(to left, var(--clr-primary-light), var(--clr-primary-dark)); }
  .btn:focus {
    outline: none;
    animation: pulsate 1s infinite; }
